<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">
<head>
<title>Quản lý công ty</title>

</head>
<section class="page-wrap">
	<section class="container" layout:fragment="page_content">
		<h1 class="heading-1 margin-bottom background">
			<span>QUẢN LÝ CÔNG TY</span>
		</h1>
		<section class="form-search form-style">
			<form th:action="@{/admin/company}" th:object="${searchForm}" method="GET">
				<p class="caption btn-box-toggle">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Nhập thông tin tìm kiếm
				</p>
				<div class="box-toggle row">
					<div class="col-xs-12 col-md-10 col-input clear-padding">
						<div class="col-xs-12 col-sm-6">
							<label>Tên công ty</label> <input class="form-control" type="text" th:field="*{companyName}" />
						</div>
						<div class="col-xs-12 col-sm-6 mt-xs">
							<label>Trạng thái</label> 
							<select class="selectpicker" th:field="*{deletedFlg}">
								<option value="">(Vui lòng chọn)</option>
								<option value="1">Xóa</option>
								<option value="2">Đang hoạt động</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-button border-md float-r mt-sm">
						<button class="btn btn-search btn-green w100p btn-fa" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
						</button>
					</div>
				</div>
			</form>
		</section>
		<!-- /.form-search -->
		<div class="row row-small layout mt20">
			<div class="col-xs-12 col-sm-inline padding-small">
				<button class="btn btn-blue btn-reponsive btn-medium float-l">Thêm</button>
			</div>
			<p sd:pagination-summary="" class="float-r txt-small mt15 mr5"></p>
			<div class="clearfix"></div>
		</div>
		<section class="box-list box-shadow-radius">
			<div class="scrollx-xs">
				<table class="table-border table-center table-sm">
					<thead>
						<tr>
							<th class="col-number first-child">
								<a class="sorted" sd:pagination-sort="id">No.</a></th>
							<th>
								<a class="sorted" sd:pagination-sort="company_name">Tên công ty</a>
							</th>
							<th>
								Số điện thoại
							</th>
							<th>
								Trạng thái
							</th>
							<th>
								Công ty mẹ
							</th>
							<th class="last-child"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${pageList}">
							<td class="txt-center" th:text="${row.companyId}"></td>
							<td><a class="txt-green border" th:text="${row.companyName}"></a></td>
							<td class="txt-center" th:text="${row.phoneNumber}"></td>
							<td class="txt-center">
								<span th:if="${row.deleteFlg} == 2" th:text="#{deleteflg.active}" ></span>
								<span th:if="${row.deleteFlg} == 1" th:text="#{deleteflg.deleted}" ></span>
							</td>
							<td th:text="${row.parentCompanyName}"></td>
							<td class="txt-center">
								<button class="btn btn-update btn-small">Cập nhật</button>
								<button class="btn btn-delete btn-small ml5-lg mt-btn-detail-sm" data-toggle="modal" data-target="#modal-delete">Xóa</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.scroll -->
		</section>
		<!-- /.list-search -->

		<nav>
			<ul class="pagination" sd:pagination="pager">
				<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
				<li class="disabled"><a href="#" aria-label="Previous"><span
						aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			</ul>
		</nav>
		<!-- <nav aria-label="Page navigation">
                <ul class="pagination float-r" sd:pagination="full">
                	<li class="disabled">
                		<a href="#" aria-label="Previous">
                			<span aria-hidden="true">&laquo;</span>
                		</a>
                	</li>
					<li ><a href="#">1 <span >(current)</span></a></li>
								
                </ul>

                <div class="clearfix"></div>
            </nav> -->
	</section>
	<!-- /.container -->
</section>
<!-- /.page-wrap -->