<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/t-login}">
<head>
	<title>Đăng nhập</title>
</head>

<section layout:fragment="page_content" class="page-wrap-2">
	<form method="POST" th:action="@{/login}">
		<div class="row">
			<div th:if="${message != null}" class="alert alert-success lead"
				th:text="${message}"></div>
			<div th:if="${error != null}" class="alert alert-danger lead"
				th:text="${error}"></div>
		</div>
		<div class="clearfix"></div>
		<section class="management-login container box-x2-small">
			<div class="management-login_logo">
				<img th:src="@{/static/img/banner.png}" />
			</div>
			<div class="mt40">
				<input type="text" name="username" class="form-control-gray" placeholder="Tài khoản" />
			</div>
			<div class="mt20">
				<input type="password" name="password" class="form-control-gray" placeholder="Mật khẩu" />
			</div>
			<div class="management-login_button row">
				<div class="col-xs-6 clear-padding-r" style="width: 97%">
					<button class="btn btn-green btn-login" type="submit">Đăng nhập</button>
				</div>
			</div>
			<div class="management-login_forget-pw">
				<a class="txt-link txt-blue" href="M-02.html">Quên mật khẩu</a>
			</div>
		</section>
		<!-- /.management-login -->
	</form>
</section>
<!-- /.page-wrap -->
</html>