<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">
<head>
<title>Quản lý công ty</title>

</head>
<section class="page-wrap">
	<section class="container" layout:fragment="page_content">
		<h1 class="heading-1 margin-bottom background">
			<span>QUẢN LÝ LOẠI THỰC PHẨM</span>
		</h1>
		<section class="form-search form-style">
			<form th:action="@{/admin/transaction-type}"
				th:object="${searchForm}" method="GET">
				<p class="caption btn-box-toggle">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Nhập
					thông tin tìm kiếm
				</p>
				<div class="box-toggle row">
					<div class="col-xs-12 col-md-10 col-input clear-padding">
						<div class="col-xs-12 col-sm-6">
							<label>Tên loại thực phẩm</label> 
								<input class="form-control" type="text" th:field="*{transactionName}" />
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-button border-md float-r mt-sm">
						<button class="btn btn-search btn-green w100p btn-fa"
							type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
						</button>
					</div>
				</div>
			</form>
		</section>
		<!-- /.form-search -->
		<div class="row row-small layout mt20">
			<div class="col-xs-12 col-sm-inline padding-small">
				<button id="addNewRow"class="btn btn-blue btn-reponsive btn-medium float-l">Thêm</button>
			</div>
			<p sd:pagination-summary="" class="float-r txt-small mt15 mr5"></p>
			<div class="clearfix"></div>
		</div>
		<section class="box-list box-shadow-radius">
			<div class="scrollx-xs">
				<table id="pageList" class="table-border table-center table-sm">
					<colgroup>
							<col class="col-number" />
							<col />
							<col />
							<col class="txt-center" width="30%" />
						</colgroup>
					<thead>
						<tr>
							<th class="col-number first-child">No.</th>
							<th>
								<a class="sorted" sd:pagination-sort="transactionName">Loại thực phẩm</a>
							</th>
							<th>
								Chủng loại 
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${pageList}" data-toggle="tooltip" data-html="true" title="">
							<td data-field="id" class="txt-center" th:text="${row.id}"></td>
							<td data-field="transactionName" th:text="${row.transactionName}"></td>
							<td data-field="productId" th:text="${row.productName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.scroll -->
		</section>
		<!-- /.list-search -->
		<nav>
			<ul class="pagination" sd:pagination="pager">
				<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
				<li class="disabled"><a href="#" aria-label="Previous"><span
						aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			</ul>
		</nav>

		<script th:inline="javascript">
			/*<![CDATA[*/
			var products = /*[[${products}]]*/null;
			console.log(products);
			/*]]>*/
		</script>
		<script th:inline="none">
			$(function(){
				$("#addNewRow")
						.click(
								function() {
									var tableditTableName = '#pageList';
									var trLast = $("#pageList tbody tr:last");
									if (trLast.length > 0) {
										var maxId = 1;
										$('#pageList > tbody  > tr').each(
												function(tr) {
													if (this.id > maxId) {
														maxId = this.id;
													}
												});
										var trLastClone = trLast.clone();
										$(".tabledit-span", trLastClone).text("");
										$(".tabledit-input", trLastClone).val("");
										$(tableditTableName+ '> tbody:last-child').append(trLastClone);
										$(tableditTableName + " tbody tr:last").attr("id", ++maxId);
										$(tableditTableName + " tbody tr:last td .tabledit-span.tabledit-identifier").text("");
										$(tableditTableName+ " tbody tr:last td .tabledit-input.tabledit-identifier").val("");
										$(tableditTableName + " tbody tr:last td:last .tabledit-edit-button").trigger("click");
									} else {
										var newRow = '<tr id="1">'
													+ 	'<td data-field="id" class="txt-center">'
													+ 		'<span class="tabledit-span tabledit-identifier"></span>'
													+ 		'<input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="">'
													+ 	'</td>'
													+ 	'<td data-field="transactionName" class="tabledit-edit-mode">'
													+ 		'<span class="tabledit-span" style="display: none;"></span>'
													+ 		'<input class="tabledit-input form-control input-sm" type="text" name="transactionName" value="" style="">'
													+ 	'</td>'
													+	'<td data-field="productId" class="tabledit-edit-mode">'
													+		'<span class="tabledit-span" style="display: none;"></span>'
													+		'<select class="tabledit-input form-control input-sm" name="productId" style="">'
													+			buildOptionTag(products)
													+		'</select>'
													+ 	'</td>'
													+ 	'<td style="white-space: nowrap; width: 1%;">'
													+ 		'<div class="tabledit-toolbar btn-toolbar" style="text-align: left;">'
													+ 			'<div class="btn-group btn-group-sm" style="float: none;">'
													+ 				'<button type="button" class="tabledit-edit-button btn btn-sm btn-default active" style="float: none;">'
													+ 					'<span class="glyphicon glyphicon-pencil"></span>'
													+ 				'</button>'
													+ 				'<button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">'
													+ 					'<span class="glyphicon glyphicon-trash"></span>'
													+ 				'</button>'
													+ 			'</div>'
													+ 			'<button type="button" class="tabledit-save-button btn btn-sm btn-success" style="float: none;">Save</button>'
													+			'<button type="button" class="tabledit-confirm-button btn btn-sm btn-danger" style="display: none; float: none;">Confirm</button>'
													+ 			'<button type="button" class="tabledit-restore-button btn btn-sm btn-warning" style="display: none; float: none;">Restore</button>'
													+ 		'</div>' 
													+ 	'</td>'
													+ '</tr>';
										$("#pageList tbody").append(newRow);
									}
								});

				$('#pageList')
						.Tabledit(
								{
									url : '/admin/transaction-type',
									eventType : 'dblclick',
									editButton : true,
									columns : {
										identifier : [ 0, 'id' ],
										editable : [ [ 1, 'transactionName' ], [2, 'productId', products] ]

									},
									onDraw : function() {
										console.log('onDraw()');
									},
									onSuccess : function(data, textStatus,
											jqXHR) {
										var options = this;
										if (data.action === "delete") {
											$('#pageList tr[id="'
															+ data.index + '"]')
													.remove();
										} else {
											$('#pageList tr[id="'
															+ data.index
															+ '"] td[data-field="id"] input[class="tabledit-input tabledit-identifier"]')
													.val(data.id);
											$('#pageList tr[id="'
															+ data.index
															+ '"] td[data-field="id"] span[class="tabledit-span tabledit-identifier"]')
													.text(data.id);
											$('#pageList tr[id="'
															+ data.index
															+ '"] td[data-field="transactionName"] input[name="transactionName"]')
													.val(data.transactionName);
										}
										console.log('onSuccess(data, textStatus, jqXHR)');
										console.log(data);
										console.log(textStatus);
										console.log(jqXHR);
									},
									onFail : function(jqXHR, textStatus,errorThrown) {
										console.log('onFail(jqXHR, textStatus, errorThrown)');
										console.log(jqXHR);
										console.log(textStatus);
										console.log(errorThrown);
									},
									onAlways : function() {
										console.log('onAlways()');
									},
									onAjax : function(action, serialize) {
										console.log('onAjax(action, serialize)');
										console.log(action);
										console.log(serialize);
									}
								});
			});
		</script>
	</section>
	<!-- /.container -->
</section>
<!-- /.page-wrap -->