<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome</title>
   <!--  <script th:src="@{/static/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/internationalization.js}"></script>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"></link> -->
   <!--  <link rel='stylesheet' href='/webjars/bootstrap/3.1.0/css/bootstrap.min.css'> -->
   <link th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}" rel="stylesheet"></link>
</head> 
<body>
<h2 class="page-header">Welcome</h2>  
<div class="container">
<h1 th:text="#{greeting}"></h1>
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="fr" th:text="#{lang.fr}"></option>
    <option value="vi" th:text="#{lang.vi}"></option>
</select>
 		<form id="logoutForm" method="POST" th:action="@{/logout}">
 		  <div align="right" th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
            <h4> Hello <span sec:authentication="name"></span> |{#authentication.name}					
            	Roles: <span sec:authentication="principal.authorities"></span> |
            	<a onclick="document.forms['logoutForm'].submit()">Logout</a>
            </h4>  			
          </div>
        </form>  

        <h2>
        	Done!!! <span sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/list}"> Go to User List</a></span>
        </h2>
</div>
</body>
</html>
