<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Base</title>
<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/bootstrap-select.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/bootstrap-datepicker3.css}"
	rel="stylesheet"></link>
<link th:href="@{/static/css/jquery.datetimepicker.css}"
	rel="stylesheet"></link>
<link th:href="@{/static/css/font-awesome.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/style.css}" rel="stylesheet"></link>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/bootstrap-confirmation.js}"></script>
<script th:src="@{/static/js/bootstrap-select.js}"></script>
<script th:src="@{/static/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.min.js}"></script>
<script th:src="@{/static/js/bootstrap-datepicker.ja.js}"
	charset="UTF-8"></script>
<script th:src="@{/static/js/jquery.tabledit.js}"></script>

<script th:src="@{/static/js/custom-file-input.js}"></script>
<script th:src="@{/static/js/mystyle.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
</head>
<body>
	<section class="page-wrap">
		<header th:replace="fragments/base_header :: header"></header>
		<section layout:fragment="page_content"></section>
	</section>
	<footer th:replace="fragments/base_footer :: footer"></footer>
</body>
</html>
