<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"   
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Base</title>
<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/bootstrap-select.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/bootstrap-datepicker3.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/jquery.datetimepicker.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/font-awesome.css}" rel="stylesheet"></link>
<link th:href="@{/static/css/style.css}" rel="stylesheet"></link>
<style type="text/css">
body {
	background: #fff;
}
</style>
</head>
<body>
	<section layout:fragment="page_content"></section>

	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:src="@{/static/js/jquery.min.js}"></script>
	<script th:src="@{/static/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/bootstrap-confirmation.js}"></script>
	<script th:src="@{/static/js/bootstrap-select.js}"></script>
	<script th:src="@{/static/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/static/js/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/static/js/bootstrap-datepicker.ja.js}"
		charset="UTF-8"></script>
	<script th:src="@{/static/js/custom-file-input.js}"></script>
	<script th:src="@{/static/js/mystyle.js}"></script>
</body>
</html>
