<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div th:fragment="delete_flg(name)" th:with="title=${title} ?: 'Mr.', greeting=${greeting} ?: 'Hello'">
	    <span th:text="${greeting}">Hello</span>
	    <span th:text="${title}">Mr.</span>
	    <span th:text="${name}">John Doe</span>
	</div>
</body>
</html>