<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">
<head>
<title>Quản lý quan hệ thương mại</title>

</head>
<section class="page-wrap">
	<section class="container" layout:fragment="page_content">
		<h1 class="heading-1 margin-bottom background">
			<span>QUẢN LÝ QUAN HỆ THƯƠNG MẠI</span>
		</h1>
		<section class="form-search form-style">
			<form th:action="@{/admin/transaction-type}"
				th:object="${searchForm}" method="GET">
				<p class="caption btn-box-toggle">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Nhập
					thông tin tìm kiếm
				</p>
				<div class="box-toggle row">
					<div class="col-xs-12 col-md-10 col-input clear-padding">
						<div class="col-xs-12 col-sm-6">
							<!-- <label>Tên loại thực phẩm</label> <input class="form-control"
								type="text" th:field="*{transactionName}" /> -->
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-button border-md float-r mt-sm">
						<button class="btn btn-search btn-green w100p btn-fa"
							type="submit">
							<i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
						</button>
					</div>
				</div>
			</form>
		</section>
		<!-- /.form-search -->
		<section class="box-list box-shadow-radius">
			<div class="scrollx-xs">
		
		<script th:src="@{/static/js/treeview/gijgo.min.js}"></script>		
		<link th:href="@{/static/css/treeview/gijgo.min.css}" rel="stylesheet"></link>
	<div class="container-fluid">
        <div class="row">
            <button id="btnSave" class="btn btn-default">Save Checked Nodes</button>
        </div>
        <div class="row">
            <div id="tree"></div>
        </div>
    </div>
    
    <script type="text/javascript">
            $(document).ready(function () {
                var tree = $('#tree').tree({
                    primaryKey: 'id',
                    uiLibrary: 'bootstrap',
                    dataSource: 'http://gijgo.com/Locations/Get',
                    checkboxes: true
                });
                $('#btnSave').on('click', function () {
                    var checkedIds = tree.getCheckedNodes();
                    $.ajax({ url: '/Locations/SaveCheckedNodes', data: { checkedIds: checkedIds }, method: 'POST' })
                        .fail(function () {
                            alert('Failed to save.');
                        });
                });
            });
    </script>
				
				
			</div>
			<!-- /.scroll -->
		</section>
		<!-- /.list-search -->

	</section>
	<!-- /.container -->
</section>
<!-- /.page-wrap -->